<launch>
    <node 
        pkg="autocycle"
        type="collect_lidar_data"
        name="navigation_core"
        output="screen"
        required="true"
    />
    <node 
        pkg="autocycle"
        type="run_lidar"
        name="run_lidar"
        output="screen"
        required="true"
    />
    <node 
        pkg="autocycle"
        type="frame_ready"
        name="frame_ready"
        output="screen"
        respawn="true"
    />
</launch>