<launch>
  <node
    pkg="autocycle"
    type="start_nav"
    name="navigation_core"
    output="screen"
    required="true"
  />
  <node
    pkg="autocycle"
    type="run_lidar"
    name="run_lidar"
    output="screen"
    required="true"
  />
  <node
    pkg="autocycle"
    type="get_deltas"
    name="get_deltas"
    output="screen"
    respawn="true"
  />
  <node
    pkg="autocycle"
    type="test_fake_send_action"
    name="test_fake_send_action"
    respawn="true"
  />
  <node
    pkg="autocycle"
    type="test_sim_sensors"
    name="sim_sensors"
    output="screen"
    respawn="true"
  />
  <node
    pkg="autocycle"
    type="frame_ready"
    name="frame_ready"
    output="screen"
    respawn="true"
  />
</launch>
