<launch>
    <node
        pkg="autocycle"
        type="read_serial"
        name="read_serial"
        output="screen"
        required"true"
    />
    <node
        pkg="autocycle"
        type="test_serial"
        name="test_serial"
        output="screen"
        required="true"
    />
</launch>