<launch/>
    <arg name-"args">
    <node
        pkg="autocycle"
        type="test_start_nav_one_frame"
        name="test_start_nav_one_frame"
        output="screen"
        required="true"
        args="$(arg angs)"
    />
    <node
        pkg="autocycle"
        type="test_send_only_ang"
        name="test_send_only_ang"
        output="screen"
        required="true"
    />
    <node
        pkg="autocycle"
        type="read_serial"
        name="read_serial"
        output="screen"
        required="true"
    />
    <node
        pkg="autocycle"
        type="run_lidar"
        name="run_lidar"
        output="screen"
        required="true"
    />
    <node
        pkg="autocycle"
        type="frame_ready"
        name="frame_ready"
        output="screen"
        required="true"
    />
    <node
        pkg="autocycle"
        type="get_deltas"
        name="get_deltas"
        output="screen"
        required="true"
    />
</launch>