<launch>
    <node
        pkg="autocycle"
        type="run_lidar"
        name="run_lidar"
        output="screen"
        required="true"
    />
    <node
        pkg="autocycle"
        type="test_visualize_lidar"
        name="test_visualize_lidar"
        output="screen"
        required="true"
    />
    <node
        pkg="autocycle"
        type="parse_lvx"
        name="parse_lvx"
        required="true"
        output="screen"
    />
</launch>
