/venv/
/.idea/
__pycache__
/.DS_Store
/ros/src/autocycle/main/LiDAR/.idea/
/ros/src/autocycle/main/LiDAR/cmake-build-debug/
/ros/src/autocycle/main/LiDAR/CMakeCache.txt
/ros/src/autocycle/main/LiDAR/CMakeFiles/
/ros/src/autocycle/main/LiDAR/CMakeLists.txt
/ros/src/autocycle/main/LiDAR/LiDAR
/ros/src/autocycle/main/LiDAR/Makefile
/ros/src/autocycle/main/LiDAR/cmake_install.cmake
/__init__.py
/ros/src/autocycle/main/LiDAR/__init__.py
/ros/build/
/ros/devel/
